:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
}
nav {
  display: block;
  width: 100%;
  height: 100%;
}
.primary-text-color {
  color: black;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.dark-purple {
  background-color: rgb(81, 51, 166);
}

.sdg-title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-stretch: 100%;
  line-height: 25px;
  padding: 8px;
}

.sdg-title a {
  text-decoration: none;
}
.light-text-color {
  color: rgb(254, 254, 254);
}

nav.side-menu a {
  padding: 1.25rem;
}
.side-menu {
  display: flex;
  justify-content: flex-end;
}

.daily-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8.5rem;
}

.image-text {
  font-size: 2rem;
  color: white;
}
.credit {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: black;
}

.accent-color {
  background-color: rgb(254, 192, 47);
}

.launches {
  display: flex;
  flex-direction: row;
}

.upcoming-launches {
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
  background-color: rgb(254, 192, 47);
}

.launches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.launch-info {
  margin: 1rem 3rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  flex-basis: 80%;
  background-color: rgb(237, 237, 237);
}

.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.light-violet {
  background-color: rgb(209, 197, 232);
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  border-radius: 0 1rem 1rem 0rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0rem 8rem 0rem;
  background-color: rgb(254, 192, 47);
  font-size: 2rem;
}
.rightArrow {
  width: 5rem;
  border-radius: 1rem 0rem 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0rem 8rem 0rem;
  background-color: rgb(254, 192, 47);
  font-size: 2rem;
}
